html {
  font-size: 1px;
}

@media screen and (min-width: 1500px) {
  html {
    font-size: 1.2px;
  }
}
@media screen and (min-width: 2000px) {
  html {
    font-size: 1.5px;
  }
}
@media screen and (min-width: 2500px) {
  html {
    font-size: 1.8px;
  }
}
body {
  font-family: sans-serif;
  margin: 0rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

#root {
  display: flex;
  justify-content: center;
  align-items: start;
}

#content {
  position: relative;
  width: 740rem;
  padding-left: 80rem;
}

#tab {
  position: sticky;
  top: 60rem;
  width: 200rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  user-select: none;
}

#welcome {
  padding: 10rem;
  border-radius: 10rem;
  border: #000000 2rem solid;
  margin-bottom: 10rem;
  background-color: white;
  box-shadow: rgb(53, 53, 53) 6rem 6rem;
}
#welcome p {
  font-size: 18rem;
  line-height: 25rem;
}

.tabButton {
  height: 40rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-right: 20rem;
  display: flex;
  justify-content: flex-end;
  gap: 10rem;
  border: rgba(0, 0, 0, 0) 2rem solid;
  cursor: pointer;
}
.tabButton:hover {
  border: black 2rem dotted;
}
.tabButton.active {
  border: black 2rem solid;
}
.tabButton p {
  margin: 0rem;
  line-height: 40rem;
  text-align: center;
  font-size: 18rem;
  font-style: oblique;
  font-weight: bold;
}
.tabButton img {
  width: auto;
  height: 100%;
}

.section {
  position: relative;
  padding-top: 60rem;
  padding-bottom: 40rem;
}
.section h1 {
  margin-top: 0rem;
  margin-bottom: 30rem;
  font-size: 40rem;
  color: white;
  text-shadow: #4e4e4e 2rem 2rem;
  -webkit-text-stroke: 1rem #000000;
}

.section-bg {
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: -10000rem;
  right: -10000rem;
  z-index: -1;
}

#rendering .section-bg,
#tooling .section-bg {
  background-color: #f2f2f2;
}

#optimization .section-bg,
#pipeline .section-bg {
  background-color: #e8e8e8;
}

#pipeline {
  padding-bottom: 100rem;
}

#meow {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 60rem;
  background-color: #e8e8e8;
}

.view-container {
  width: 750rem;
  margin-bottom: 40rem;
  display: flex;
  flex-direction: row;
}
.view-container .view-block {
  width: 600rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  border-radius: 10rem;
  border: #000000 1rem solid;
  box-shadow: rgb(0, 0, 0) 0rem 0rem 1rem;
}
.view-container .view-block img {
  width: 100%;
  display: none;
}
.view-container .view-block video {
  width: 100%;
  display: none;
}
.view-container .view-block.fixed-size img {
  height: 300rem;
}
.view-container .view-block.fixed-size video {
  height: 300rem;
}
.view-container .view-block .view-desc {
  border-top: black 1rem solid;
  padding-left: 20rem;
  padding-right: 20rem;
}
.view-container .view-block .view-desc h2 {
  margin-top: 20rem;
  font-size: 20rem;
  color: #313131;
}
.view-container .view-block .view-desc ul {
  padding-left: 20rem;
  list-style-type: none;
}
.view-container .view-block .view-desc ul li {
  font-size: 14rem;
  color: #424242;
  font-family: monaco, Consolas, Lucida Console, monospace;
}

.view-list {
  width: 120rem;
  padding-left: 10rem;
  display: none;
  flex-direction: column;
  gap: 10rem;
}
.view-list div {
  position: relative;
}
.view-list img:not(.video-icon) {
  width: 100%;
  display: block;
  border: white 3rem solid;
  border-radius: 10rem;
  box-shadow: rgb(0, 0, 0) 0rem 0rem 1rem 0rem;
  cursor: pointer;
  transition-duration: 100ms;
  transition-property: scale;
}
.view-list img:not(.video-icon).active {
  box-shadow: rgb(0, 0, 0) 0rem 0rem 0rem 2rem;
}
.view-list img:not(.video-icon):hover {
  scale: 1.05;
}
.view-list .video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  pointer-events: none;
}

/*# sourceMappingURL=main.css.map */
