body {
  font-family: sans-serif;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#banner {
  position: sticky;
  top: 0px;
  height: 40px;
  background-image: linear-gradient(to bottom, #222222, #373737);
  z-index: 1;
  box-shadow: #000000 0px 0px 5px;
}

#root {
  display: flex;
  justify-content: center;
  align-items: start;
}
#root #tab {
  position: sticky;
  top: 80px;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  user-select: none;
}
#root #tab #welcome {
  padding: 10px;
  border-radius: 10px;
  border: #000000 2px solid;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: rgb(53, 53, 53) 6px 6px;
}
#root #tab #welcome p {
  font-size: 18px;
  line-height: 25px;
}
#root #tab .tabButton {
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  border: rgba(0, 0, 0, 0) 2px solid;
  cursor: pointer;
}
#root #tab .tabButton:hover {
  border: black 2px dotted;
}
#root #tab .tabButton.active {
  border: black 2px solid;
}
#root #tab .tabButton p {
  margin: 0px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  font-style: oblique;
  font-weight: bold;
}
#root #content {
  position: relative;
  width: 740px;
  padding-left: 80px;
}
#root #content .section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;
}
#root #content .section h1 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 40px;
  color: white;
  text-shadow: #4e4e4e 2px 2px;
  -webkit-text-stroke: 1px #000000;
}
#root #content .section .section-bg {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -10000px;
  right: -10000px;
  z-index: -1;
}
#root #content #rendering .section-bg,
#root #content #tooling .section-bg {
  background-color: #f2f2f2;
}
#root #content #optimization .section-bg,
#root #content #pipeline .section-bg {
  background-color: #e8e8e8;
}
#root #content #pipeline {
  padding-bottom: 200px;
}
#root #content #meow {
  position: absolute;
  height: 100px;
  left: 170px;
  bottom: 0px;
}
#root #content .view-container {
  width: 750px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
}
#root #content .view-container .view-block {
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  border: #000000 1px solid;
  box-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
#root #content .view-container .view-block img {
  width: 100%;
  display: none;
}
#root #content .view-container .view-block video {
  width: 100%;
  display: none;
}
#root #content .view-container .view-block .view-desc {
  border-top: black 1px solid;
  padding-left: 20px;
  padding-right: 20px;
}
#root #content .view-container .view-block .view-desc h2 {
  margin-top: 20px;
  font-size: 20px;
  color: #313131;
}
#root #content .view-container .view-block .view-desc ul {
  padding-left: 20px;
  list-style-type: none;
}
#root #content .view-container .view-block .view-desc ul li {
  font-size: 14px;
  color: #424242;
  font-family: monaco, Consolas, Lucida Console, monospace;
}
#root #content .view-container .view-list {
  width: 120px;
  padding-left: 10px;
  display: none;
  flex-direction: column;
  gap: 10px;
}
#root #content .view-container .view-list img {
  display: block;
  border: white 3px solid;
  border-radius: 10px;
  box-shadow: rgb(0, 0, 0) 0px 0px 1px 0px;
  cursor: pointer;
  transition-duration: 100ms;
  transition-property: scale;
}
#root #content .view-container .view-list img.active {
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px;
}
#root #content .view-container .view-list img:hover {
  scale: 1.05;
}

/*# sourceMappingURL=main.css.map */
